* {
  margin: 0;
  padding: 0;
}
body{
  overflow-x: hidden;
  overflow-y: scroll;
}
html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
    color: $c_parrafo;
    box-sizing: border-box;
    position: relative;
    font-family: 'Kanit', sans-serif;
    font-weight: 300;
    height: 100%;
}

p, h1, h2, h3, div, ul, li, div,section{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
ul{
  list-style: none;
}
li{
  text-decoration: none;
}
a:hover{
   text-decoration: none;;
}
.w-100{
  width: 100%;
}
.bg-gris{
  background: #f8f8f8 !important;
}
.d-flex{
  display: flex;
}
.main-web{
  
}
.header-section{
  &__titulo{
    padding-bottom: 16px;
      p{
          color: $c_titulo;
          font-weight: 600;
          text-align: center;
          font-size: 28px;
          line-height: 1.25;
          // @include font-size(4rem);
      }
  }
  &__subtitulo{
      p{
          color: $c_subtitulo;
          font-size: 16px;
          margin: auto;
          text-align: justify;
          // @include font-size(1rem);
      }
  }
}

.section-custom{
  padding: 0 5%;
  padding-top: 32px;
  padding-bottom: 22px;
}
.btn-personalizado{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  button{
    width: 300px;
    margin-top: 24px;
    min-height: 50px;
    background: $c_resaltante_2;
    border: 1.5px solid $c_resaltante_2;
    border-radius: 40px;
    color: $white;
    box-shadow: none;
    font-size: 20px;        
    margin: auto;
    transition:  all .5s;
    &:hover{
        transition: all .5s;
        box-shadow: -3px 4px 12px -1px #ccc;
    }
  }
}
.parallax{
  width: 100%;
  height: 800px;
  flex: 1;
  display: flex;
  text-align: center;
  position: relative;
  overflow: hidden;
  background-color: #000;
  padding: 0 !important;
  .header-section{
    position: relative;
    z-index: 9;
    &__titulo{
        p{
            color: $white;
        }
    }
    &__subtitulo{
        p{
            z-index: 9;
            color: $white;
        }
    }
  }
  .image {
    background-attachment: fixed; 
    background-size: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 500;
    padding: 24px 5%;
    background-image: url(https://images.unsplash.com/photo-1461080639469-66d73688fb21?iq=100&fm=jpg&w=1000);
    &:before{
      top: 0;
      left: 0;
      content: "";
      background: #000;
      opacity: 0.4;
      z-index: 1;
      width: 100%;
      height: 100%;
      position: absolute;
    }
  }
  &__box{
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    z-index: 9;
    .parallax-item{
        height: 150px;
    }
  }
}

@media (min-width: 768px) {
  .header-section{
    &__titulo{
        p{
          width: 80%;
          margin: auto;
          
        }
    }
  }
  
  .section-custom{
  }

  .parallax{
    height: 400px;
    &__box{
        padding-top: 24px;
        flex-direction: row;
        .parallax-item{
            width: 25%;
        }
    }
  }
}

@media (min-width: 1200px) {
  .header-section{
    width: 75%;
    margin: auto;
    &__titulo{
        p{
          width: 100%;;
          font-size: 32px;
        }
    }
    &__subtitulo{
        p{
          text-align: center;
        }
    }
  }
  
  .section-custom{
    padding: 0 10%;
    padding-top: 52px;
    padding-bottom: 52px;
  }
}

.owl-nav{
  position: absolute;
  width: 100%;
  z-index: 9999;
  top: 0;
  display: flex;
  justify-content: space-between;
  button{
    &:hover{
      background: transparent !important;
    }
    &:focus{
      background: transparent;
      border: none;
      outline: none;
    }
  }
  span{
    color: white;
    font-size: 36px;
    padding: 24px;
    &:focus{
      border: none;
      outline: none;
    }
  }
}

.owl-dots{
  position: absolute;
  width: 100%;
  z-index: 99;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-bottom: 24px;
  button{
    border: none;
    outline: none;
    width: 16px;
    height: 16px;
    display: block;
    background: white !important;
    border-radius: 50%;
    margin: 4px !important;
    span{
      background: transparent !important;
    }
  }
  button.active{
    background: $c_resaltante_2 !important;
  }
}