/******************  HOME ***********************/
.banner{
    height: 60vh;
    overflow: hidden;
    div{
        background: red;
        height: 100% !important;
    }
    .img-banner{
        height: 100%;
        width: auto;
    }
}


.bienvenido{
    &__box{
        display: flex;
        justify-content: center;
        img{
            width: 100%;
        }
    }
}
.pastores{
}
.invitacion{
    background: #f7f9fb;
    &__box{
        margin: auto;
        img{
            width: 100%;
        }
    }
}

.reuniones{
    &__box{
        .reuniones-item{
            &__img{            
            display: flex;
            justify-content: center;
            align-items: center;
                img{
                    width: auto;
                    height: 300px;
                }
            }
            &__titulo{            
                font-size: 24px;
                color: #404040;
                font-weight: 600;
                text-transform: uppercase;       
                text-align: center;     
            }
        }
    }
}

.escuelas{
    height: 800px;
    .header-section{
        position: relative;
        z-index: 9;
        &__titulo{
            p{
                color: $white;
            }
        }
        &__subtitulo{
            p{
                z-index: 9;
                color: $white;
            }
        }
    }
    &__box{
        display: flex;
        align-items: center;
        flex-direction: column;
        position: relative;
        z-index: 9;
        .escuelas-item{
            height: 150px;
        }
    }
}

.voluntarios{
    &__box{
        .voluntarios-item{
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            &__img{            
                display: flex;
                justify-content: center;
                align-items: center;
                &:before{
                    content: "";
                    background: #453e3e;
                    position: absolute;
                    z-index: 9;
                    width: 100%;
                    height: 100%;
                    opacity: 0.5;
                }
                img{
                    width: auto;
                    height: 300px;
                }
                
            }
            &__titulo{            
                font-size: 24px;
                color: $white;
                font-weight: 600;
                text-transform: uppercase;       
                text-align: center;   
                position: absolute;  
                z-index: 9;
            }
            .linea-cuadro{
                width: 90%;
                position: absolute;
                height: 90%;
                border: 1px solid white;
                z-index: 9;
                opacity: 0;
            }
        }
        a:hover .linea-cuadro{
            opacity: 1 !important;
            transition: all 1s;
        }
        a:hover .voluntarios-item__img:before{
            background: #061620;
        }
    }
}

.contacto{
    &__box{

    }
}
.footer{
    background: #000000;
    &__superior{
        padding: 10% 24px;
        .footer-item{
            padding-bottom: 24px;
        }
        .item-contacto{
            padding-bottom: 0;
        }
    }
    &__inferior{
        border-top: 1px solid gray;
        padding: 12px 24px;
        display: flex;
        justify-content: space-between
    }
    P{
        color: $white;
    }
    a{
        color: gray;
    }
}

@media (min-width: 768px) { 
        
    
    .bienvenido{
        &__box{
            img{
                height: 400px;
                width: auto;
            }
        }
    }

    .invitacion{
        display: flex;
        align-items: center;
        &__header{
            width: 70%;            
            padding-right: 24px;
        }
        &__box{
            width: 30%;
        }
    }    
    
    .reuniones{
        &__box{
            display: flex;
            flex-wrap: wrap;
            .reuniones-item{
                width: 50%;
                padding: 12px;
                &__img{
                    img{
                    }
                }
                &__titulo{                
                }
            }
        }
    }
    
    .escuelas{
        height: 400px;
        .header-section{
            &__titulo{
                p{
                }
            }
            &__subtitulo{
                p{
                }
            }
        }
        &__box{
            padding-top: 24px;
            flex-direction: row;
            .escuelas-item{
                width: 25%;
            }
        }
    }
    
    .voluntarios{
        &__box{
            display: flex;
            flex-wrap: wrap;
            a{
                width: 50%;
                display: inline-block;
            }
            .voluntarios-item{
                
                &__img{
                    img{
                    }
                }
                &__titulo{                
                }
            }
        }
    }
    
    .contacto{
        &__box{
    
        }
    }
    .footer{
        &__superior{
            display: flex;
            .footer-item{
                width: 25%;
                padding-left: 12px;
            }
            .item-contacto{
            }
        }
    }
}

@media (min-width: 992px) { 
    .banner{
        height: 90vh;
        overflow: hidden;
        div{
        }
        .img-banner{
        }
    }
    .bienvenido{
        &__box{
            img{
            }
        }
    }

    .invitacion{
        &__header{
        }
        &__box{
            img{
                width: auto;
                height: 480px;
            }
        }
    }    
    
    .reuniones{
        &__box{
            .reuniones-item{
                &__img{
                    img{
                    }
                }
                &__titulo{                
                }
            }
        }
    }
    
    .escuelas{
        &__box{
    
        }
    }
    
    .voluntarios{
        &__box{
            .voluntarios-item{
                &__img{
                    img{
                    }
                }
                &__titulo{                
                }
            }
        }
    }
    
    .contacto{
        &__box{
    
        }
    }
}

@media (min-width: 1200px) { 
    .banner{
        height: 100vh;
        overflow: hidden;
        div{
        }
        .img-banner{
        }
    }
    .bienvenido{
        &__box{
            img{
            }
        }
    }

    .invitacion{
        &__header{
            width: 50%;
        }
        &__box{
            width: 50%;
        }
    }    
    
    .reuniones{
        &__box{
            .reuniones-item{
                width: 25%;
                padding: 12px;
                &__img{
                    img{
                        width: 100%;
                        height: auto;
                    }
                }
                &__titulo{                
                }
            }
        }
    }
    
    .escuelas{
        &__box{
    
        }
    }
    
    .voluntarios{
        &__box{
            a{
                width: 25%;
                padding: 12px;
                display: inline-block;
            }
            .voluntarios-item{
                
                &__img{
                    img{
                        width: 100%;
                        height: auto;
                    }
                }
                &__titulo{                
                }
            }
        }
    }
    
    .contacto{
        &__box{
    
        }
    }

    .footer{
        padding: 0 10%;
        &__superior{
            padding: 5% 24px;
            display: flex;
            .footer-item{
                width: 25%;
                padding-left: 12px;
            }
            .item-contacto{
            }
        }
        &__inferior{
            border-top: 1px solid #3c3c3c
        }
    }
}