.show_list{
    height: auto;
    display: block !important;
}

nav{
    position: fixed;
    z-index: 999;
    width: 100%;    
    background: white;
    .container{
        background: white;
    }
    top: 0;
    .nav-logo {
        width: auto;
        width: 100%;
        position: relative;
        img{
            width: auto;
            height: 50px;
        }
    }
    .panel-nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        .nav-content.show_list{
            display: block !important;
        }
    }
    .list-links{
        font-size: 0;
        display: flex;
        align-items: center;
        height: 100%;
        flex-direction: column;
        &__item{
            font-size: 16px;
            display: inline-block;
            height: 100%;
            display: flex;
            align-items: center;
            a{
                color: $c_parrafo;
                font-weight: 400;
                position: relative;
                &:hover:before{
                    width: 100%;
                }
                &:after {
                    content: '';
                    display: block;
                    height: 3px;
                    width: 0%;
                    position: absolute;
                    bottom: 0;
                    right: 0;
                    background: $white;
                    -webkit-transition: all 0.5s ease-in-out;
                    -moz-transition: all 0.5s ease-in-out;
                    transition: all 0.5s ease-in-out;
                    opacity: 0.8;
                    &:hover{
                        width: 100%;
                    }
                }
                &:hover:after{
                    width: 100%;
                }
            }
            i{
                font-size: 18px;
            }
        }
        .item-links{
            padding-left: 15px;
            padding-right: 15px;
            &:hover a{                
                color: $white;
            }
            &:hover a::before{
                width: 100%;
            }
            &:hover a::after{
                width: 100%;
            }
        }
        .item-links.active{
            a{
                color: $c_parrafo;
                
                &:before{
                    width: 100%;
                }
                &:after{
                    width: 100%;
                }
            }
        }
        .item-contact{
            a{
                font-size: 14px;
            }
            &:first-child{
                padding-right: 20px;
            }
        }
    }
    .nav-content{
        display: none !important;
        height: calc(100vh - 65px);
        &__contacto{
            height: 35px;
            display: flex;
            justify-content: flex-end;
        }
        &__list{
            height: 100%;
        }
    }

}
/* Home section */

.home {
    width: 100%;
    height: 100vh;
    background-image: url(https://images.unsplash.com/photo-1498550744921-75f79806b8a7?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=b0f6908fa5e81286213c7211276e6b3d&auto=format&fit=crop&w=1500&q=80);
    background-position: center top;
	background-size:cover;
}

.navTrigger {
    display: none;
}




/* Media qurey section */

@media screen and (max-width:768px) {
    .navTrigger {
        display: block;
    }
    
}

@media screen and (min-width:992px) {
    .navTrigger {
        display: block;
        i{
            background-color: white;
        }
    }

    nav{
        position: fixed;
        width: 100%;
        background: transparent;
        .container{
            background: transparent;
        }
        .nav-logo {
            width: auto;
            img{
                padding-top: 0;
            }
        }
        .panel-nav{
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-direction: row;
        }
        .list-links{
            font-size: 0;
            display: flex;
            align-items: center;
            height: 100%;
            flex-direction: row;
            justify-content: flex-end;
            &__item{
                font-size: 16px;
                display: inline-block;
                height: 100%;
                display: flex;
                align-items: center;
                a{
                    color: $white;
                    font-weight: 400;
                    position: relative;
                    &:before {
                        // content: '';
                        // display: block;
                        // height: 1px;
                        // width: 0%;
                        // position: absolute;
                        // top: 0;
                        // left: 0;
                        // background: $white;
                        // -webkit-transition: all 0.5s ease-in-out;
                        // -moz-transition: all 0.5s ease-in-out;
                        // transition: all 0.5s ease-in-out;
                        // opacity: 0.8;                        
                    }
                    &:hover:before{
                        width: 100%;
                    }
                    &:after {
                        content: '';
                        display: block;
                        height: 2px;
                        width: 0%;
                        position: absolute;
                        bottom: -2px;
                        right: 0;
                        background: $white;
                        -webkit-transition: all 0.5s ease-in-out;
                        -moz-transition: all 0.5s ease-in-out;
                        transition: all 0.5s ease-in-out;
                        opacity: 0.8;
                        &:hover{
                            width: 100%;
                        }
                    }
                    &:hover:after{
                        width: 100%;
                    }
                }
                i{
                    font-size: 18px;
                }
            }
            .item-links{
                padding-left: 15px;
                padding-right: 15px;
                a{
                    text-transform: uppercase;
                    font-size: 13px;
                    font-weight: 600;
                }
                &:hover a{                
                    color: $white;
                }
                &:hover a::before{
                    width: 100%;
                }
                &:hover a::after{
                    width: 100%;
                }
            }
            .item-links.active{
                a{
                    color: $white;
                    &:before{
                        width: 100%;
                    }
                    &:after{
                        width: 100%;
                    }
                }
            }
            .item-contact{
                a{
                    font-size: 14px;
                }
                &:first-child{
                    padding-right: 20px;
                }
            }
        }
        .nav-content{
            display: block !important;
            height: 85px;
            &__contacto{
                height: 35px;
                display: flex;
                justify-content: flex-end;
            }
            &__list{
                height: 85px;
            }
        }
    
    }
    
}
/* Animation */
/* Inspiration taken from Dicson https://codemyui.com/simple-hamburger-menu-x-mark-animation/ */

.navTrigger {
    cursor: pointer;
    width: 30px;
    height: 25px;
    margin: auto;
    position: absolute;
    right: 30px;
    top: 0;
    bottom: 0;
}

.navTrigger i {
    background-color: #000;
    border-radius: 2px;
    content: '';
    display: block;
    width: 100%;
    height: 4px;
}
.nav-fix .list-links__item a:after {
    content: '';
    display: block;
    height: 2px;
    width: 0%;
    position: absolute;
    bottom: -2px;
    right: 0;
    background: $c_parrafo;
    transition: all 0.5s ease-in-out;
    opacity: 0.8;
}
.nav-fix .list-links .item-links.active a {
    color: gray;
}
.nav-fix .list-links .item-links:hover a {
    color: $c_parrafo;
}
.navTrigger i:nth-child(1) {
    -webkit-animation: outT 0.8s backwards;
    animation: outT 0.8s backwards;
    -webkit-animation-direction: reverse;
    animation-direction: reverse;
}

.navTrigger i:nth-child(2) {
    margin: 5px 0;
    -webkit-animation: outM 0.8s backwards;
    animation: outM 0.8s backwards;
    -webkit-animation-direction: reverse;
    animation-direction: reverse;
}

.navTrigger i:nth-child(3) {
    -webkit-animation: outBtm 0.8s backwards;
    animation: outBtm 0.8s backwards;
    -webkit-animation-direction: reverse;
    animation-direction: reverse;
}

.navTrigger.active i:nth-child(1) {
    -webkit-animation: inT 0.8s forwards;
    animation: inT 0.8s forwards;
}

.navTrigger.active i:nth-child(2) {
    -webkit-animation: inM 0.8s forwards;
    animation: inM 0.8s forwards;
}

.navTrigger.active i:nth-child(3) {
    -webkit-animation: inBtm 0.8s forwards;
    animation: inBtm 0.8s forwards;
}

@-webkit-keyframes inM {
    50% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(45deg);
    }
}

@keyframes inM {
    50% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(45deg);
    }
}

@-webkit-keyframes outM {
    50% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(45deg);
    }
}

@keyframes outM {
    50% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(45deg);
    }
}

@-webkit-keyframes inT {
    0% {
        -webkit-transform: translateY(0px) rotate(0deg);
    }
    50% {
        -webkit-transform: translateY(9px) rotate(0deg);
    }
    100% {
        -webkit-transform: translateY(9px) rotate(135deg);
    }
}

@keyframes inT {
    0% {
        transform: translateY(0px) rotate(0deg);
    }
    50% {
        transform: translateY(9px) rotate(0deg);
    }
    100% {
        transform: translateY(9px) rotate(135deg);
    }
}

@-webkit-keyframes outT {
    0% {
        -webkit-transform: translateY(0px) rotate(0deg);
    }
    50% {
        -webkit-transform: translateY(9px) rotate(0deg);
    }
    100% {
        -webkit-transform: translateY(9px) rotate(135deg);
    }
}

@keyframes outT {
    0% {
        transform: translateY(0px) rotate(0deg);
    }
    50% {
        transform: translateY(9px) rotate(0deg);
    }
    100% {
        transform: translateY(9px) rotate(135deg);
    }
}

@-webkit-keyframes inBtm {
    0% {
        -webkit-transform: translateY(0px) rotate(0deg);
    }
    50% {
        -webkit-transform: translateY(-9px) rotate(0deg);
    }
    100% {
        -webkit-transform: translateY(-9px) rotate(135deg);
    }
}

@keyframes inBtm {
    0% {
        transform: translateY(0px) rotate(0deg);
    }
    50% {
        transform: translateY(-9px) rotate(0deg);
    }
    100% {
        transform: translateY(-9px) rotate(135deg);
    }
}

@-webkit-keyframes outBtm {
    0% {
        -webkit-transform: translateY(0px) rotate(0deg);
    }
    50% {
        -webkit-transform: translateY(-9px) rotate(0deg);
    }
    100% {
        -webkit-transform: translateY(-9px) rotate(135deg);
    }
}

@keyframes outBtm {
    0% {
        transform: translateY(0px) rotate(0deg);
    }
    50% {
        transform: translateY(-9px) rotate(0deg);
    }
    100% {
        transform: translateY(-9px) rotate(135deg);
    }
}

.nav-fix {
    background: #fff;
    height: 70px;
    box-shadow: 0px 3px 0px 0px rgba(224, 224, 224, 0.6);
    .item-links{
        a{
            color: $c_parrafo;
        }
    }
}






.myH2 {
	text-align:center;
	font-size: 4rem;
}
.myP {
	text-align: justify;
	padding-left:15%;
	padding-right:15%;
	font-size: 20px;
}
@media all and (max-width:700px){
	.myP {
		padding:2%;
	}
}

