.ofrenda{
    .image{
        display: flex;
        align-items: center;
    }
}
.formas{
    padding: 24px 0;
    button{
        width: 100%;
        margin-top: 24px;
        height: 50px;
        background: white;
        border: 1.5px solid #42A5F5;
        border-radius: 40px;
        color: #42A5F5;
        box-shadow: -3px 4px 12px -1px #ccc;
        font-size: 20px;        
        transition:  all .5s;
        &:hover{
            transition: all .5s;
            background: #42A5F5;
            border: none;
            border-radius: 40px;
            color: white;
        }
    }
}
.formas-item{
    display: flex;
    align-items: center;
    &__descripcion{
        padding-left: 14px;
        .titulo{
            color: #000;
            font-size: 24px;

        }
    }
    &__icono{
        background: #42A5F5;
        padding: 14px;
        border-radius: 50%;
        position: relative;
        &:after{
            content: '';
            position: absolute;
            top: -5px;
            left: -5px;
            padding: 5px;
            pointer-events: none;
            width: 100%;
            height: 100%;
            border-radius: 50%;
            box-sizing: content-box;
            box-shadow: 0 0 0 3px #42A5F5;
            transition: transform .3s,opacity .3s;
            transform: scale(.8);
            opacity: 0;
        }
        
    }
    &:hover .formas-item__icono:after{
        transform: scale(1);
        opacity: 1;
    }
}

.banner-interno{
    height: 290px;
    width: 100%;
    background-image: url(../img/web/banner-interno.jpg);
    background-size: cover;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
.nuestra-iglesia{
    .nuestra-historia{
        &--descripcion{
            text-align: justify
        }
    }
    .documental{
        p{
            color: $white;
        }
        .header-section{
            position: relative;
            z-index: 9;
        }
        
    }
    .parallax{
        height: 500px;
        .video{
            position: relative;
            z-index: 9;
        }
    }
}