@import url('https://fonts.googleapis.com/css?family=Nunito:300,400,600,700,800|Rubik:300,400,500,700,900&display=swap');

$fuente_primaria : 'Nunito', sans-serif;
$fuente_secundaria : 'Rubik', sans-serif;

$color_resaltante : #21069b;

$color_titulo: #2c3038;
$color_subtitulo: #2c3038;

$white: #ffffff;
$gray: gray;