@import url('https://fonts.googleapis.com/css?family=Nunito:300,400,600,700,800|Rubik:300,400,500,700,900&display=swap');

$fuente_primaria : 'Nunito', sans-serif;
$fuente_secundaria : 'Rubik', sans-serif;

$c_resaltante_1 : #ffce37;
$c_resaltante_2 : #42A5F5;

$c_titulo: #2c3038;
$c_subtitulo: #2c3038;

$white: #ffffff;
$c_parrafo: #9b9b9b;

$c_icon_gris: gray;
$c_fondo_humo: #f2f3f8;